.refactor-home {
    background-color: var(--home-background, #e7dfdf);
    color: var(--text-color, brown);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.home-textColor{
    color: brown;
}
.bg-primary {
    background-color: var(--primary-color, #007bff) !important;
}
.grid-auction{
    text-align: center,
    
}

.lang{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}