.header {
    border: 2px solid #2e8b57; /* Verde mais escuro para o contorno */
    border-radius: 8px;
    padding: 15px;
    background-color: #e0ffff; /* Tom suave de aquamarine */
    text-align: center;
    max-width: auto; /* Reduz o tamanho máximo da div */
    margin: 0 auto; /* Centraliza horizontalmente */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */

}

.header h1 {
    font-size: 24px;
    margin: 10px 0;
    color: #333; /* Cor mais suave para o texto */
    font-family: Arial, sans-serif;
}

.header img {
    max-height: 40px;
}

.p-inputtext {
    margin-left: 15px;
}

/* .header{
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    background-color: aquamarine;
    text-align: center;
} */